@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.addresses-wrapper {
  .modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #83a8ec86;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    z-index: 999;

    // New User Address
    .new-address {
      position: relative;
      padding: 0 3rem;
      border-radius: 0.5rem;
      background-color: $main-bg;

      .address-close-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;

        &:hover {
          color: $tomato;
        }
      }

      .new-address-title {
        @include subTitle;
        z-index: 999;
      }

      .form-address {
        .input-container {
          position: relative;
          @include inputContainer;

          .input-field {
            @include inputField;
            margin-bottom: $radius;
            padding-left: 2rem;

            &::placeholder {
              color: gray;
            }
          }

          .input-label {
            position: absolute;
            top: 0;
            left: 2rem;
            color: rgba(204, 204, 204, 0);
          }

          .input-highlight {
            position: absolute;
            bottom: 0.2rem;
            left: 0;
            height: 2px;
            width: 0;
            background-color: $yellow;
            transition: all 0.3s ease;
          }

          .input-field:focus + .input-label {
            top: -20px;
            font-size: 12px;
            color: #007bff;
          }

          .input-field:focus + .input-label + .input-highlight {
            width: 100%;
          }

          .icon {
            position: absolute;
            top: 1.1rem;
            left: 0.5rem;
            font-size: 1rem;
          }

          // displaying password
          .password-display {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translatey(-50%);
            font-size: 1.3rem;
            cursor: pointer;
          }
        }

        // Select input container
        .select-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;

          .select-icon {
            font-size: 1.4rem;
          }

          .select-label-wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;

            .label {
              flex: 1;
              font-weight: $aafw;
            }

            .select-options {
              flex: 2;
              @include inputField;
              width: 100%;
              .option {
                display: block;
              }
            }
          }
        }

        .address-btn {
          @include button1;
        }
      }
    }
  }

  // Previous address
  .previous-address {
    .title-add-new-address-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .address-title {
      }

      .add-new-address-btn {
        @include button1;
      }
    }
  }
}
