@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.checkout-page {
  .checkout-container {
    width: $laptop;
    min-height: 100vh;
    margin: 1rem auto;

    .title {
      @include title;
    }
  }
}
