@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.blog-container {
  @include laptopPageContainer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $section-bg;
  @include shadow3;

  .blog-title {
    @include title;
  }

  .pargraph {
    @include paragraph;
  }

  .blog-btn {
    @include button5;
  }
}
