@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.shop-profile-contianer {
  width: 100%;
  @include shadow3;

  .title {
    @include title;
  }

  .box-article {
    .items-wrapper {
      display: flex;
      justify-content: space-around;
      .item {
        .active {
        }

        .passive {
        }
      }
    }

    .subTitle {
    }
  }

  .shop-products {
    @include productsGrid;
  }

  .shop-events-wrapper {
    .shop-events {
    }

    .subTitle {
    }
  }

  .reviews-wrapper {
    .ratings {
      .image {
      }

      .user-rating {
        .subTitle {
        }

        .comment {
        }
      }
    }

    .subTitle {
    }
  }
}
