@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.cart-checkout-wrapper {
  width: 100%;
  min-height: 100vh;


  .shipping-and-cart-info-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .proceed-payment {
    @include button1;
    width: fit-content;
  }
}
