@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.wish-list {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $popup-bg;

  .wish-list-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: $popu-display-bg;
    @include shadow1;


    .close {
      position: absolute;
      top: 0.6rem;
      right: 1rem;
      cursor: pointer;

      &:hover {
        color: $tomato;
      }
    }
  }
}

// Single wish list
.single-wish-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    @include shadow3;
}
