// Fonts
$font: 'Roboto Condensed', sans-serif;
$font-family: 'Ubuntu Mono', monospace;

// Font Color
$yellow: #ffa500;
$white: #ffffff;
$gray: #808080;
$lightGray: #e1dcdc;
$green: #008000;
$blue: #0000ff;
$black: #000000;
$red: #f82a05;
$tomato: #ff6347;
$pink: #9a9af7f1;
$star: #f6ba00;

// Border
$border-bottom: #80808040;

// hover
$button-hover: #86bae5;
$button-hover2: #008000bb;
$button-hover5: #9a9af7f1;
$navbar-hover5: #4c74ea;
$edit-hover: 'green';
$delete-hover: 'red';
$sidebar-hover: #d2f6f6d8;

// Fonts Size
$sfs: 0.7rem;
$afs: 1.2rem;
$mfs: 1.4rem;
$aafs: 1.8rem;
$lfs: 2.2rem;

// Font Weight
$sfw: 200;
$afw: 400;
$aafw: 600;
$lfw: 800;

// Background
$header-bg: #e6e6fa;
$navbar-bg5: #4169e1;
$main-bg: #f8f8ff;
$section-bg: #dedef8;
$aside-bg: #e6e6fa;
$footer-bg5: #4169e1;
$copyright: #191970;
$editbg-bg: #ebebf8;
$error-bg: #f9aa9c;
$popup-bg: #adb1b5e6;
$popup-display-bg: #fffff0bc;
$sidebar-bg: #f0ffff;
$paypbal-popup-bg: #9dcaefae;
$chat-bg: #fff5ee;
$chatHeader-bg : #b4f5f2;
$sender: #f5fffa;
$me: #dedeff;

// Fomr background
$form-bg: #f5f5f5;
$field-bg: #ccc;
$search-bg5: #e6e6fa;

// Button background
$button-bg: #4682b4;
$button-bg5: #b2b2fa;
$delete-bg: 'tomato';

// padding
$buttonPadding: 0.2rem;
$boxPadding: 0.5rem 1rem;
$textPadding: 0.3rem 0.5rem;

// border radius
$radius: 0.3rem;
$radius-color: #c6a8ed;
$border: #9b98f3;

// Width View
$desktop: 85%;
$laptop: 90%;
$tablet: 95%;
$mobile: 98%;
