@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.shop-all-orders-page {
  .shop-all-orders-page-container {
    display: flex;
    flex-direction: column;

    .title {
      @include title;
      font-size: $one;
    }

    .sidebar-and-orders {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .shop-all-orders-page {
    width: 100%;
    min-width: 100vh;
    .shop-all-orders-page-container {
      display: flex;
      flex-direction: column;

      .title {
        @include title;
        font-size: $one;
      }

      .sidebar-and-orders {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
  }
}

/* Labtop screen size */
@media screen and (min-width: 1024px) {
  .shop-all-orders-page {
    width: 100%;
    min-width: 100vh;
    .shop-all-orders-page-container {
      display: flex;
      flex-direction: column;

      .title {
        @include title;
      }

      .sidebar-and-orders {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
  }
}
