@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.profile-page {
  .profile-container {
    min-height: 100vh;
    width: $laptop;
    margin: 1rem auto;
    @include shadow3;

    .profile-title {
      @include title;
      color: $green;
    }

    .sidebar-form-wrapper {
      display: flex;
    }
  }
}
