@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.shop-products-page {
  width: 100%;
  min-width: 100vh;
  .shop-products-container {
    display: flex;
    gap: 1rem;
  }
}