@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.message-dashboar-modal {
  @include mobileDashboardScreen;

  .message-dashboar-wrapper {
    width: $laptop;
    margin: auto;
    @include shadow3;

    .message-dashboar-title {
      @include title;
      font-size: $one;
    }
  }
}

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .message-dashboar-modal {
    @include tabletDashboardScreen;

    .message-dashboar-wrapper {
      width: $laptop;
      margin: auto;
      @include shadow3;

      .message-dashboar-title {
        @include title;
        font-size: $one;
      }
    }
  }
}

/* Labtop screen size */
@media screen and (min-width: 1024px) {
  .message-dashboar-modal {
    @include desktopDashboardScreen;

    .message-dashboar-wrapper {
      width: $laptop;
      margin: auto;
      @include shadow3;

      .message-dashboar-title {
        @include title;
      }
    }
  }
}
