@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.cart-single-wishlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  @include shadow3;

  .add-icon {
    @include addIcon;
  }

  .image-container {
    .image {
      width: 6rem;
      height: 6rem;
      object-fit: cover;
    }
  }

  .title {
    @include subTitle;
  }

  .delete-icon {
    @include deleteIcon;
  }
}
