@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.single-wish-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  @include shadow3;
}
