@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

// Mobile screen

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Labtop screen size */
@media screen and (min-width: 1024px) {
  .withdraw-money-container {
    width: $laptop;
    margin: 1rem auto;
    .title {
      @include title;
    }

    // Shop balance and withdraw button
    .shop-balance-and-withdraw-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;

      .shop-balance {
        @include subTitle;
      }

      .withdraw {
        @include button1;
      }
    }

    // If payment method is true, then withdraw-methods
    .withdraw-methods {
      position: relative;
      width: $laptop;
      margin: auto;

      .close-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }

      .form-wrapper {
        @include shadow3;
        background-color: $popup-display-bg;

        .form-title {
          @include subTitle;
        }

        .form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 1rem;

          .input-container {
            position: relative;
            @include inputContainer;

            .input-field {
              @include inputField;
            }

            .input-label {
              position: absolute;
              top: 0;
              left: 2rem;
              color: rgba(204, 204, 204, 0);
            }

            .input-highlight {
              position: absolute;
              bottom: 0.5rem;
              left: 0;
              height: 2px;
              width: 0;
              background-color: $green;
              transition: all 0.3s ease;
            }

            .input-field:focus + .input-label {
              top: -3px;
              font-size: 12px;
              color: #81a3e6;
            }

            .input-field:focus + .input-label + .input-highlight {
              width: 100%;
            }

            .icon {
              position: absolute;
              top: 1rem;
              left: 0.5rem;
              font-size: 1rem;
              color: $green;
            }

            // displaying password
            .password-display {
              position: absolute;
              top: 50%;
              right: 1rem;
              transform: translatey(-50%);
              font-size: 1.3rem;
              cursor: pointer;
            }
          }

          .add-btn {
            @include button1;
            width: fit-content;
          }
        }
      }
    }

    // If payment method is false, then no-withdraw-methods
    .no-withdraw-methods {
      position: relative;
      width: $laptop;
      margin: auto;
      background-color: $popup-display-bg;
      @include shadow3;

      .close-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }

      // Available withdraw methods wrapper
      .available-withdraw-methods-wrapper {
        .available-withdraw-methods-title {
          @include subTitle;
        }

        .available-withdraw-method {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .shop-details-title {
            @include subTitle;
            color: $green;
          }

          .bank-details-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 3rem;
            @include shadow3;

            .bank-info-wrapper {
              .acount-number {
                @include subTitle;
              }

              .bank-name {
                @include paragraph;
              }
            }

            .delete-bank-icon {
              @include deleteIcon;
            }
          }

          .shop-balance-and-withdraw-form {
            @include shadow3;

            .balance {
              @include subTitle;
            }

            .form-create-withdraw-request {
              .input-field {
                @include inputField;
              }

              .submit-btn {
                @include button1;
              }
            }
          }
        }
      }

      // Unavailable withdraw methods wrapper
      .unavailable-withdraw-methods-wrapper {
        .unavailable-withdraw-methods-title {
          @include subTitle;
        }

        .add-new {
          @include button2;
          width: fit-content;
        }
      }
    }
  }
}
