@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.header-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $header-bg;

  .header-icons {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .active-link {
      .header-dashboar-icon {
        font-size: $aafs;
        color: $red;
      }
    }

    .none-active-link {
      .header-dashboar-icon {
        font-size: $aafs;
        color: $green;
      }

      .image {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        color: $green;
      }
    }

    .image-container {
      cursor: pointer;

      .image {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .shop-profile-logout-wrapper {
      position: absolute;
      top: 2.8rem;
      right: -1rem;
      background-color: $header-bg;
      width: 15rem;
      height: 100vh;
      z-index: 999;

      .item {
        padding: 0.5rem 1rem;
        border-radius: 0 0 0 $radius;

        .link {
          font-size: $afs;

          &:hover {
            color: $tomato;
          }
        }
      }
    }
  }
}
