@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.shop-create-product-page {
  width: 100%;
  min-width: 100vh;
  .shop-create-product-container {
    display: flex;
    gap: 1rem;
  }
}