@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

// Mobile styling
.categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .category-wrapper {
   display: grid;
   grid-template-columns: 20% 80%;

    .icon {
      font-size: 3rem;
      color: $yellow;
    }

    .title-paragraph {
      .sub-title {
        font-size: $afs;
      }

      .paragraph {
        font-size: $afs;
      }
    }
  }
}

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .categories {
    @include tabletPageContainer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .category-wrapper {
      @include shadow3;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .icon {
        font-size: 3rem;
        color: $yellow;
      }

      .title-paragraph {
        .sub-title {
          font-size: $afs;
        }

        .paragraph {
          font-size: $afs;
        }
      }
    }
  }
}

/* Labtop screen size */
@media screen and (min-width: 1024px) {
  .categories {
    @include laptopPageContainer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .category-wrapper {
      width: 100%;
      @include shadow3;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;

      .icon {
        font-size: 3rem;
        color: $yellow;
      }

      .title-paragraph {
        .sub-title {
          font-size: $afs;
        }

        .paragraph {
          font-size: $afs;
        }
      }
    }
  }
}
