@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.single-product-details {
  min-height: 100vh;

  .product-title {
    @include title;
  }

  // Product details
  .product-details {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    // Product image
    .image-container {
      .image {
        border-radius: $radius;
      }
    }

    // Product description
    .product-description {
      @include shadow3;

      .subTitle {
        @include subTitle;
      }

      .description {
        @include paragraph;
      }

      // Add to cart
      .quantity-add-to-cart-wishlist {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        .quantity-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;

          .icon-add-to-cart {
            @include addIcon;
          }

          .amount-subTitle {
            @include subTitle;
          }
        }

        .add-to-cart-btn {
          @include button1;
        }

        .active-wishlist {
          font-size: $aafs;
          color: $red;
          cursor: pointer;
        }

        .passive-wishlist {
          font-size: $aafs;
          color: $blue;
          cursor: pointer;
        }
      }

      // Product rating
      .product-rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .send-message {
          @include button2;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.1rem;
        }
      }
    }
  }
}

