@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.events-page {
  .events-page-container {
    width: $laptop;
    margin: 1rem auto;
    min-height: 100vh;

    .events-title {
      @include title;
    }

    .event-cards-wrapper {
      .subTitle {
        @include subTitle;
      }
    }
  }
}
