@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.shop-dashboar-page {
  width: 100%;
  min-width: 100vh;
  .shop-dashboard-container {
    display: flex;
    gap: 1rem;
  }
}
