@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.shop-detials-page {
    .shop-details-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}