@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.password-page {
  @include page;
  .password-page-container {
    width: 40%;
    margin: auto;
    @include shadow1;
    background-color: $form-bg;

    .title {
      @include title;
    }
    .form {
      width: 90%;
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .input-container {
        position: relative;
        @include inputContainer;

        .input-field {
          @include inputField;
          padding-left: 2rem;
        }

        .input-label {
        
          position: absolute;
          top: 0;
          left: 2rem;
          color: rgba(204, 204, 204, 0);
        }

        .input-highlight {
          position: absolute;
          bottom: 0.5rem;
          left: 0;
          height: 2px;
          width: 0;
          background-color: $yellow;
          transition: all 0.3s ease;
        }

        .input-field:focus + .input-label {
          top: -10px;
          font-size: 12px;
          color: #81a3e6;
        }

        .input-field:focus + .input-label + .input-highlight {
          width: 100%;
        }

        .icon {
          position: absolute;
          top: 1rem;
          left: 0.5rem;
          font-size: 1rem;
        }

        // displaying password
        .password-display {
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translatey(-50%);
          font-size: 1.3rem;
          cursor: pointer;
        }
      }

      .password-btn {
        @include button1;
      }
    }
  }
}
