@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.overview-dashbaord-wrapper {
  width: 100%;
  @include shadow3;

  .overview-dashboard-title {
    @include title;
  }

  .summary-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include productsGrid;

    .article-box {
      @include shadow3;

      .aside-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0;

        .icon {
          font-size: $aafs;
          color: $green;
        }

        .subTitle {
          @include subTitle;
        }

        .service {
          @include paragraph;
        }
      }

      .subTitle {
        @include subTitle;
      }

      .link {
      }
    }
  }

  .latest-orders {
    @include subTitle;
    font-size: $aafs;
    margin-top: 2rem;
  }

  .data-grid-wrapper {
  }
}
